# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

* List popular languages for Data Science.
* List some of the commonly used libraries by Data Scientists.
* List some open source Data Science tools.

### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. pandas
3. caret

### Data Science Tools

Tools|
-----|
Apache Hadoop|
Apache Spark|
Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python

result= 5 + 3   \
result= 8 / 2   \
result= 2 ** 3

## This a simple arithmetic expression to mutiply then add integers

In [4]:
test= (3*4)+5
print(test)

17

## his will convert 200 minutes to hours by diving by 60

In [5]:
minutes= 200
hours= minutes//60
minutes= minutes%60
print(hours, "h and ", minutes, " min")

3 h and  20  min

## Author:
Mohamed Amine Triki